body{
    margin:0;
    padding:0;
    font-family: "Times New Roman", serif;
    background: url("photo-1699891730676-037bed3c1bed.avif") no-repeat center center/cover;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
}

.container{
    background: rgba(0,0,0,0.7);
    padding:30px;
    border-radius:15px;
    width:400px;
    text-align:center;
    box-shadow:0 0 20px rgba(255,255,255,0.5);
}

h1{
    margin-bottom:15px;
    letter-spacing:2px;
}

.image-box{
    margin:15px 0;
}

.image-box img{
    width:120px;
    border-radius:50%;
    border:4px solid white;
    transition:0.5s;
}

.image-box img:hover{
    transform:scale(1.1) rotate(5deg);
    box-shadow:0 0 20px white;
}

label{
    display:block;
    text-align:left;
    margin-top:10px;
}

input{
    width:100%;
    padding:8px;
    margin-top:5px;
    border:none;
    border-bottom:2px solid white;
    background:transparent;
    color:white;
    outline:none;
}

input::placeholder{
    color:#ddd;
}

button{
    margin-top:10px;
    padding:8px;
    border:none;
    background:white;
    color:black;
    cursor:pointer;
    border-radius:5px;
    transition:0.3s;
}

button:hover{
    background:#00ffff;
}

.buttons{
    margin-top:15px;
}

#output{
    margin-top:15px;
    text-align:left;
}

.high{
    color:#00ff00;
}

.low{
    color:#ff4444;
}